/*The image border on top*/
.topimage {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hiddem;
    padding: 80px;

}


/*marking header bigger and center*/
header {
    font-size: 30px;
    text-align: center;
    color:aliceblue;
}


main {
    font-family: 'Times New Roman', Times, serif;

}
.navbar {
    text-align: center;
}

.wrapper {
    width: 750px;
    margin:auto;
    background-color:rgb(224, 224, 240)
    padding: 20px;
}

body {
    background-color:rgb(211, 229, 225)
}

.space {
    padding-bottom: 30px;
    margin:0 auto;
}