html {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 15px;
}

h1 {
    line-height: 6rem;
    font-size: 4.5rem;
    font-weight: bolder;
    padding: 40px 0 20px 0;
    color:#222;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    padding: 40px 0 20px 0;
}

h3 {
    font-size: 2rem;
    padding: 40px 0 20px 0;
    font-weight: bolder;
}

p {
    line-height: 1.5rem;
    padding: 10px;
}

button {
    border: none;
    font-size: 1.4rem;
    padding: 20px 30px 25px 30px;
    font-family: 'Open Sans', sans-serif;
}

.fa {
    padding: 10px;
    font-size: 2rem;
}
/* Nav bar */
nav {
    background-color: #222;
}

nav ul li a{
    text-align:center;
    display: block;
    font-size: 1.2rem;
    padding: 20px;
    color: #c78c06;
    text-decoration: none;
}

nav ul li a:hover {
    color: #222;
    background-color: #c78c06;
}

form input {
    float: left;
    font-size: 110%;
    margin: auto;
    width: 90%;
    height: 35px;
}

.fa-search {
    color:#c78c06;
    font-size: 1rem;
}

nav button {
    border: 1px solid #c78c06;
    padding: 0px;
    height: 40px;
    width: 40px;
    background-color: #222;
}






