html {
    max-width: 1200px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 15px;
}

.wrapper img{
    padding-right: 100%;
    width: 15%;
    background-color: #c78c06;
}

button {
    border: none;
    font-size: 1.4rem;
    padding: 20px 30px 25px 30px;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.5rem;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    line-height: 6rem;
    font-size: 4.5rem;
    font-weight: bolder;
    padding: 40px 0 20px 0;
    color:#222;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    padding: 40px 0 20px 0;
}

h3 {
    font-size: 2rem;
    padding: 40px 0 20px 0;
    font-weight: bolder;
}

.fa {
    padding: 10px;
    font-size: 2rem;
}
/* Nav bar */
nav {
    background-color: #222;
    text-align: center;
    padding: 10px;
}

nav ul li a{
    text-align:center;
    display: block;
    font-size: 1.2rem;
    padding: 20px;
    color: #c78c06;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover img {
    background-color: #c78c06;
 }

nav ul li a:hover {
    color: #222;
    background-color: #c78c06;
}

form input {
    float: left;
    font-size: 110%;
    margin: auto;
    width: 90%;
    height: 35px;
}

nav button {
    border: 1px solid #c78c06;
    padding: 0px;
    height: 40px;
    width: 40px;
    background-color: #222;
}

.fa-search {
    color:#c78c06;
    font-size: 1rem;
}

/* Welcome Section */
.intro {
    background-size: cover;
    background-image: url(../images/main-banner.jpg);
    
}

.welcome {
    background-color: rgba(2, 2, 2, 50%);
}

.intro button {
    background-color:#c78c06;
}

.intro {
    padding: 200px;
    background-color: rgba(0, 0, 0, 50%);
}

.intro h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.intro p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* About Us */
.about-us img {
    width: 100%;
}

.about-us {
    background-color: #ffe6ac;
}

.about-us p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.about-us h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 6rem;
}
/* Our Services */
.services img {
    width: 100%;
    margin: 15px; 
}
.services h2 {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 5.5rem;
    font-family: 'Open Sans', sans-serif;
}

.digital h3 {
    font-weight: bolder;
    font-size: 2rem;
}

.digital p {
    line-height: 1.5rem;
    padding: 15px 15px 0px 15px;
}

.services button {
    background-color:#222;
    color: white;
    margin: 15px;
}

.digital, .marketing, .video, .web, .print {
    background-color:#ffe6ac;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.marketing h3{
    font-size: 2rem;
    font-weight: bolder;
    line-height: 5.5rem;
}

.video h3 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 5.5rem;
}

.web h3 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 5.5rem;
}

.print h3 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 5.5rem;
} 

/* Vision */
.vision {
    color: white;
    background-position: center;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    padding: 80px 45px 80px 45px;
    width: 100%;
    
}
.vision {
    font-family: 'Open Sans', sans-serif;
}
.vision button {
    margin-top: 4rem;
    border: 1px solid #c78c06;
    background-color:rgba(2, 2, 2, 75%);
    color: white;
    
} 

.vision h3 {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 5.5rem;
}
.vision p{
    line-height: 1.5rem;
    padding: 15px 15px 0px 15px;
}

/* Our Team */
.team { 
    font-family: 'Open Sans', sans-serif;
}
.team h2 {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 5.5rem;
}

.team h3 {
    padding: 25px 15px 15px 15px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.team h1 {
    font-weight: bolder;
}

.team img {
    width: 100%;
    background-color:#ffe6ac;
    
}

.paragraph {
    padding: 15px 15px 30px 15px;
}
.john, .bob {
    background-color:#ffe6ac;
    margin-bottom: 15px;
}

.subtitle {
    padding: 0px 0px 0px 15px;
    font-weight: bolder;
}

hr {
    width: 97%;
    border: 1px solid #c78c06;
}

/* Contact Form */
.contact-us form {
    display: inline-block;
}

label {
    line-height: 2rem;
}

#name, #email, #message {
    width: 100%;
}

textarea {
    box-sizing: border-box;
    width: 400%;
    height: 100px;
}

.contact-us button {
    background-color:#222;
	color:#c78c06;
    border: none;
    padding: 5px;
    margin-top: 20px;
}

/* Hours of Operation */
.table-of-hours th {
    background-color: #ffe6ac;
    padding: 10px;
  }

.table-of-hours td {
    padding: 10px;
  }

.table-of-hours table, th, td {
    border: 1px solid rgb(0, 0, 0);
}

/* Location */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-top: 10px;
}

/* Footer */
footer {
    background-color:#222;
    color:#c78c06;
}

footer a:visited {
    color:#c78c06;
}